<mat-toolbar class="bg-gradient-to-r from-cyan-700 to-blue-500  text-white shadow-2xl">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
      <h1>Listado de Tareas</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false" class="w-60 text-center">
      <mat-nav-list class="" *ngFor="let link of links" class="hover:bg-cyan-700 transition-all">
          <a mat-list-item class="hover:text-white" routerLink="{{link.url}}" (click)="sidenav.toggle()">
            {{ link.name }}
          </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>

